@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "Font Titulo";
    src: url(fonts/fontTitulo3.ttf);
}

:root{
    --background-box: white;
    --background-document: #dcdcdc;

    --padding-top-text: 30px;
    --padding-top-tablet: 20px;
    --padding-left-text: 30px;
    --padding-top-person:10px;

    --font-family-title: "Font Titulo";
    --font-family-person: "Open Sans";

    --font-size-mobile-tablet-text: 1.75rem;
    --font-size-mobile-tablet-title: 5rem;
    --font-size-mobile-tablet-person: 1rem;
    --font-size-desktop-text: 2.25rem;
    --font-size-desktop-title: 6rem;
    --font-size-desktop-person: 1.15rem;
}

body{
    background-color: var(--background-document);
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(9, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.item-1{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
    
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.item-3{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.item-4{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.item-5{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.item-6{
    grid-row: 4 / 6;
    grid-column: 1 / 2;
}

.item-7{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.item-8{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

.item-9{
    grid-row: 6 / 8;
    grid-column: 1 / 2;
}

.item-10{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

.item-11{
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}

.item-12{
    grid-row: 8 / 9;
    grid-column: 1 / 3;
}

.item-13{
    grid-row: 9 / 10;
    grid-column: 1 / 3;
}

.white-box{
    background-color: var(--background-box);
    height: 100%;
}

.text{
    font-family: var(--font-family-title);
    margin: 0;
    padding-top: var(--padding-top-text);
    padding-left: var(--padding-left-text);
    padding-right: var(--padding-left-text);
    font-size: var(--font-size-mobile-tablet-text);
    font-style: italic;
}

.title{
    font-family: var(--font-family-title);
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-left: var(--padding-left-text);
    padding-right: var(--padding-left-text);
    font-size: var(--font-size-mobile-tablet-title);
    font-weight: normal;
    height: 100%;
}

.person{
    font-family: var(--font-family-person);
    margin: 0;
    padding-top: var(--padding-top-person);
    padding-left: var(--padding-left-text);
    padding-right: var(--padding-left-text);
    font-size: var(--font-size-mobile-tablet-person);
    font-weight: bolder;
}

@media(min-width: 768px){        
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(6, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .item-1{
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
        
    .item-2{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .item-3{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .item-4{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    .item-5{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    .item-6{
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }

    .item-7{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .item-8{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .item-9{
        grid-row: 3 / 5;
        grid-column: 3 / 4;
    }

    .item-10{
        grid-row: 5 / 6;
        grid-column: 3 / 4;
    }

    .item-11{
        grid-row: 6 / 7;
        grid-column: 3 / 4;
    }

    .item-12{
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }

    .item-13{
        grid-row: 6 / 7;
        grid-column: 1 / 3;
    }
}

@media (min-width: 1024px){
    .grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr) ;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .item-1{
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
        
    .item-2{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .item-3{
        grid-row: 1 / 2;
        grid-column: 5 / 6;
    }

    .item-4{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .item-5{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    .item-6{
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }

    .item-7{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    .item-8{
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }

    .item-9{
        grid-row: 3 / 5;
        grid-column: 1 / 3;
    }

    .item-10{
        grid-row: 3 / 4;
        grid-column: 5 / 6;
    }

    .item-11{
        grid-row: 4 / 5;
        grid-column: 5 / 6;
    }

    .item-12{
        grid-row: 3 / 4;
        grid-column: 3 / 5;
    }

    .item-13{
        grid-row: 4 / 5;
        grid-column: 3 / 5;
    }
        
    .text{
        font-family: var(--font-family-title);
        margin: 0;
        padding-top: var(--padding-top-text);
        padding-left: var(--padding-left-text);
        padding-right: var(--padding-left-text);
        font-size: var(--font-size-desktop-text);
        font-style: italic;
    }

    .title{
        font-family: var(--font-family-title);
        margin: 0;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; 
        padding-left: var(--padding-left-text);
        padding-right: var(--padding-left-text);
        font-size: var(--font-size-desktop-title);
        font-weight: normal;
        height: 100%;
    }

    .person{
        font-family: var(--font-family-person);
        margin: 0;
        padding-top: var(--padding-top-person);
        padding-left: var(--padding-left-text);
        padding-right: var(--padding-left-text);
        font-size: var(--font-size-desktop-person);
        font-weight: bolder;
    }

}