:root {
    --background-item-light-yellow : #faeee2;
    --background-item-purple : #7651dc;
    --background-item-light-purple: #dcd1fc;
    --background-item-yellow: #ffcc69;
    --background: #f5f5f5f5;
    --background-white: #ffffff;

    --font-family: "DM Sans", serif;

    --font-size-h1: 2.25rem;
    --font-size-h1-small: 1.75rem;
    --font-size-h1-big: 3.50rem;
    --font-size-p: 1.10rem;
    --font-size-h1-tablet: 1.75rem;
    --font-size-h1-big-tablet: 2rem;
    --font-size-p-tablet: 1rem;

    --font-weight-h1: 500;

    --font-color-purple:#7651dc;
    --font-color-white:#ffffff;
    --font-color-yellow:#ffcc69;

    --margin-center: 0 auto;
    --margin-items-top: 65px;
    --margin-items-top-small:25px;
    --margin-items-left: 30px;
    --margin-items-left-small:25px;
    --margin-item-1-bottom: 40px;
    --margin-item-8-bottom:50px;

    --line-height-h1: 1;

    --border-radius: 10px;
}

body{
    padding-top: 20px ;
    padding-bottom: 20px ;
    background-color: var(--background);
}

.attribution{
  padding-top: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;  
     
}

.img-center{
    display: block;
    margin: var(--margin-center);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 16px; 
  width: 80%;

}

/* Caja izquierda superior */
.item-7 {
    grid-row:  1 / 6;
    grid-column: 1 / 2;
    background-color: var(--background-item-light-yellow);
    display: flex;
    flex-direction: column;  
    align-items: center;
    border-radius: var(--border-radius) ;
}

.text-item-7 {
    font-family: var(--font-family);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    margin-top: var(--margin-items-top);
    margin-left: var(--margin-items-left);
    line-height: var(--line-height-h1);
    
}

/* Caja morada superior central */
.item-1 {
  grid-column:  2 / 4;
  grid-row:  1 / 5;
  background-color: var(--background-item-purple);
  border-radius: var(--border-radius) ;
}

.text-item-1{
    text-align: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1-big);
    line-height: var(--line-height-h1);
    color: var(--font-color-white);
    margin-bottom: var(--margin-item-1-bottom);
}

.p-item-1{
    color: var(--font-color-white);
    text-align: center;
    font-family: var(--font-family);
    margin-top: 0;
    font-size: var(--font-size-p);
   
}

/* Caja derecha grande */
.item-4 {
  grid-row:  1 / 8;
  grid-column: 4 / 5;
  background-color: var(--background-item-light-purple);
  border-radius: var(--border-radius) ;
  overflow: hidden;

}

.text-item-4{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-small);
  line-height: var(--line-height-h1);
  margin-left: var(--margin-items-left);
}

.img-item-4{
    margin-left: var(--margin-items-left);
}

.item-4 > p{
  color: black;
  font-family: var(--font-family);
  margin-left: var(--margin-items-left);
  font-size: var(--font-size-p);

}

/* Caja amarilla inferior izquierda */
.item-8 {
    grid-row: 6 / 11;
    grid-column: 1 / 1;
    background-color: var(--background-item-yellow);
    border-radius: var(--border-radius) ;

}

.item-8 > h1{
  font-family: var(--font-family);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    margin-left: var(--margin-items-left-small);
    line-height: var(--line-height-h1);
    margin-bottom: 30px;
}

.item-8 > img {
    margin-left: var(--margin-items-left-small);
}
/* Caja blanca izquierda-centro */
.item-2 {
  grid-row: 5 / 8;
  grid-column: 2 / 2;
  background-color: var(--background-white);
  overflow: hidden;
  border-radius: var(--border-radius) ;
}

.item-2 > img{
  margin-top: var(--margin-items-top-small);
  margin-left: var(--margin-items-left-small);
}

.item-2 > h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-small);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);

}
/* Caja blanca inferior */
.item-6 {
  grid-row: 8 / 11;
  grid-column: 2 / 3;
  background-color: var(--background-white);
  border-radius: var(--border-radius) ;
}

.item-6 > h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-big);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);
  margin-bottom: 0;
}

.item-6 > p{
  font-family: var(--font-family);
  margin-left: var(--margin-items-left);
  font-size: var(--font-size-p);

}

/* Caja amarilla central baja */
.item-3 {
    grid-row: 5 / 8;
    grid-column: 3 / 4;
    background-color: var(--background-item-yellow);
    border-radius: var(--border-radius) ;
    overflow: hidden;
    position: relative;
}

.item-3 > h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-small);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);
}

.item-3 > img {
  position: absolute;
  bottom: -70px;
  left: 25px;
}
/* Caja morada inferior ancha */
.item-5 {
  grid-column: 3 / 5;
  grid-row: 8 / 11;
  background-color: var(--background-item-purple);
  border-radius: var(--border-radius) ;
}

.item-5-h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  color: var(--font-color-white);
}

.text-purple{
    color: var(--font-color-purple)
}

.text-yellow{
    color: var(--font-color-yellow);
}
.text-italic{
    font-style: italic;
}

.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.margin-img{
    margin-top:30px;
    margin-left:30px;
    margin-bottom:30px;
}

.align-items-center{
  align-items: center;
}

.justify-around{
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 2 columnas */
    grid-template-rows: repeat(6, 1fr);
  }

  .item-7 {
    grid-row:  1 / 3;
    grid-column: 1 / 2;
    background-color: var(--background-item-light-yellow);
    display: flex;
    flex-direction: column;  
    align-items: center;
    border-radius: var(--border-radius) ;   
    justify-content: center;        
  }

  .text-item-7 {
    font-family: var(--font-family);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    margin-top: 30px;
    margin-left: 15px;
    line-height: var(--line-height-h1);
  }

  .item-1 {
    grid-column:  2 / 4;
    grid-row:  1 / 3;
    background-color: var(--background-item-purple);
    border-radius: var(--border-radius) ;
    display: flex;
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    text-align: center; 
  }

  .text-item-1{
      text-align: center;
      font-family: var(--font-family);
      font-weight: var(--font-weight-h1);
      font-size: var(--font-size-h1-big);
      line-height: var(--line-height-h1);
      color: var(--font-color-white);
     
  }

  .p-item-1{
      color: var(--font-color-white);
      text-align: center;
      font-family: var(--font-family);
      margin-top: 0;
      font-size: var(--font-size-p);
  }

  .item-4 {
  grid-row:  5 / 7;
  grid-column: 1 / 2;
  background-color: var(--background-item-light-purple);
  border-radius: var(--border-radius) ;
  overflow: hidden;

}

.text-item-4{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-small);
  line-height: var(--line-height-h1);
  margin-left: var(--margin-items-left);
}

.img-item-4{
    margin-left: var(--margin-items-left);
}

.item-4 > p{
  color: black;
  font-family: var(--font-family);
  margin-left: var(--margin-items-left);
  font-size: var(--font-size-p-tablet);

}

.item-8 {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    background-color: var(--background-item-yellow);
    border-radius: var(--border-radius) ;

}

.item-8 > h1{
    font-family: var(--font-family);
    font-size: var(--font-size-h1-tablet);
    font-weight: var(--font-weight-h1);
    margin-left: var(--margin-items-left-small);
    line-height: var(--line-height-h1);
    margin-bottom: 30px;
}

.item-8 > img {
    margin-left: var(--margin-items-left-small);
}

.item-2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: var(--background-white);
  overflow: hidden;
  border-radius: var(--border-radius) ;
}

.item-2 > img{
  margin-top: var(--margin-items-top-small);
  margin-left: var(--margin-items-left-small);
}

.item-2 > h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-tablet);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);

}

.item-3 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-color: var(--background-item-yellow);
    border-radius: var(--border-radius) ;
    overflow: hidden;
    position: relative;
}

.item-3 > h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-small);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);
}

.item-3 > img {
  position: absolute;
  bottom: -60px;
  left: 20px;
  width: 80%;
}

.item-5 {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  background-color: var(--background-item-purple);
  border-radius: var(--border-radius) ;
}

.item-5-h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-tablet);
  line-height: var(--line-height-h1);
  color: var(--font-color-white);
}
.item-6 {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  background-color: var(--background-white);
  border-radius: var(--border-radius) ;
}

.item-6 > h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-big);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);
  margin-bottom: 0;
}

.item-6 > p{
  font-family: var(--font-family);
  margin-left: var(--margin-items-left);
  font-size: var(--font-size-p);

}

}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(8, 1fr);
  }

  .item-7 {
    grid-row:  3 / 5;
    grid-column: 1 / 2;
    background-color: var(--background-item-light-yellow);
    display: flex;
    flex-direction: column;  
    align-items: center;
    border-radius: var(--border-radius) ;   
    justify-content: center;        
  }

  .text-item-7 {
    font-family: var(--font-family);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    margin-top: 30px;
    margin-left: 15px;
    line-height: var(--line-height-h1);
  }

  .item-1 {
    grid-column:  1 / 3;
    grid-row:  1 / 3;
    background-color: var(--background-item-purple);
    border-radius: var(--border-radius) ;
    display: flex;
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    text-align: center; 
  }

  .text-item-1{
      text-align: center;
      font-family: var(--font-family);
      font-weight: var(--font-weight-h1);
      font-size: var(--font-size-h1-big);
      line-height: var(--line-height-h1);
      color: var(--font-color-white);
     
  }

  .p-item-1{
      color: var(--font-color-white);
      text-align: center;
      font-family: var(--font-family);
      margin-top: 0;
      font-size: var(--font-size-p);
  }

  .item-4 {
  grid-row:  6 / 8;
  grid-column: 1 / 2;
  background-color: var(--background-item-light-purple);
  border-radius: var(--border-radius) ;
  overflow: hidden;

}

.text-item-4{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-small);
  line-height: var(--line-height-h1);
  margin-left: var(--margin-items-left);
}

.img-item-4{
    margin-left: var(--margin-items-left);
}

.item-4 > p{
  color: black;
  font-family: var(--font-family);
  margin-left: var(--margin-items-left);
  font-size: var(--font-size-p-tablet);

}

.item-8 {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
    background-color: var(--background-item-yellow);
    border-radius: var(--border-radius) ;

}

.item-8 > h1{
    font-family: var(--font-family);
    font-size: var(--font-size-h1-tablet);
    font-weight: var(--font-weight-h1);
    margin-left: var(--margin-items-left-small);
    margin-right: 20px;
    line-height: var(--line-height-h1);
    margin-bottom: 30px;
}

.item-8 > img {
    margin-left: var(--margin-items-left-small);
}

.item-2 {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  background-color: var(--background-white);
  overflow: hidden;
  border-radius: var(--border-radius) ;
}

.item-2 > img{
  margin-top: var(--margin-items-top-small);
  margin-left: var(--margin-items-left-small);
}

.item-2 > h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-tablet);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);

}

.item-3 {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    background-color: var(--background-item-yellow);
    border-radius: var(--border-radius) ;
    overflow: hidden;
    position: relative;
}

.item-3 > h1 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-small);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);
}

.item-3 > img {
  position: absolute;
  bottom: -60px;
  left: 20px;
  width: 80%;
}

.item-5 {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background-color: var(--background-item-purple);
  border-radius: var(--border-radius) ;
}

.item-5-h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-tablet);
  line-height: var(--line-height-h1);
  color: var(--font-color-white);
}
.item-6 {
  grid-row: 8 / 9;
  grid-column: 1 / 2;
  background-color: var(--background-white);
  border-radius: var(--border-radius) ;
}

.item-6 > h1{
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1-big);
  margin-left: var(--margin-items-left-small);
  line-height: var(--line-height-h1);
  margin-bottom: 0;
}

.item-6 > p{
  font-family: var(--font-family);
  margin-left: var(--margin-items-left);
  font-size: var(--font-size-p);

}
}
